<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Lucas Chi" />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Lucas Chi" />

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19652507-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

<div class="about">
  <h1 id="site-title">Why hello!</h1>
  <img alt="Lucas" src="http://www.gravatar.com/avatar/87cb292224851318f72f9310f8923a37.png" />
  <p>I'm <strong>Lucas Chi</strong>.  You could describe me as a <strong>software engineer</strong>, (ok)<strong>climber</strong> and <strong>New Yorker</strong>.</p>

  <p>I post some of my thoughts here.  Some are worth reading.</p>

  <p>Look me up:</p>
  <ul class="nav-list">
    <li><img alt="GitHub" src="images/github.png" /> <a href="http://github.com/lchi">github.com/lchi</a></li>
    <li><img alt="LinkedIn" src="images/linkedin.png" /> <a href="http://www.linkedin.com/in/lucaschi">Lucas Chi</a></li>
  </ul>
</div>

<div class="site">

  {{ content }}

  <div class="footer">
    <div>Forked from: <a href="http://github.com/davidbalbert/davidbalbert.github.com">davidbalbert.github.com</a></div>
    <div xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/" about="http://www.komodomedia.com/blog/2008/12/social-media-mini-iconpack/"><span property="dct:title">Social Network Icon Pack</span> (<a rel="cc:attributionURL" property="cc:attributionName" href="http://www.komodomedia.com/blog/2008/12/social-media-mini-iconpack/">Komodo Media, Rogie King</a>), Social Media Icons (<a href="http://paulrobertlloyd.com/2009/06/social_media_icons">Paul Robert Lloyd</a>) </div>
  </div>
</div>

</body>
</html>
